<h2 class="text-center">Events Feed</h2>
<div [hidden]=teamEvents class="text-center"><p>Loading...</p></div>

<div class="media position-relative" *ngFor="let teamEvent of teamEvents">
  <img src="{{ teamEvent.logoImageUrl }}" class="mr-3"  style="width:18rem; height:13rem; margin-bottom:10px">
  <div class="media-body">
    <h5 class="mt-0">{{ teamEvent.name }}</h5>
    <div [innerHTML]="teamEvent.description" style="margin-bottom:10px;"></div>
    <a [routerLink]="['/event-details', teamEvent.id]" class="btn btn-primary stretched-link">Details</a>
  </div>
</div>
