<p [hidden]="teamEvent">Loading..</p>
<div class="row" *ngIf="teamEvent">
  <div class="col-12">
    <h1>{{teamEvent.name}}</h1>
  </div>
  <div class="col-md-4 col-12">
    <img style="width:22rem; height:15rem; margin-bottom:10px;" src="{{ teamEvent.logoImageUrl }}" />
  </div>
  <div class="col-md-6 col-12">
    <div class="row">
      <div class="col-4">
        <b>Start date</b>
        <p>{{ teamEvent.startDate | date: 'short' }}</p>
      </div>
      <div class="col-4">
        <b>Location</b>
        <p>{{ teamEvent.location }}</p>
      </div>
      <div class="col-4">
        <b>Status</b>
        <p>{{ teamEvent.status }}</p>
      </div>
      <div class="col-4">
        <b>Categories</b>
        <br />
        <p class="badge badge-secondary">{{ teamEvent.categories }}</p>
      </div>
      <div class="col-4">
        <b>Ticket Price</b>
        <p>{{ teamEvent.ticketPrice }} ₴</p>
      </div>
      <div class="col-4">
        <b>Participants</b>
        <br />
        <p class="badge badge-light">{{ teamEvent.attendees.split("email").length - 1 }}/{{ teamEvent.maxAttendees }}</p>
      </div>
      <div class="col-4">
        <b>Created by</b>
        <br />
        <p>{{ teamEvent.owner }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-12 text-center">
    <span [hidden]="!isAuthenticated">
      <button class="btn btn-primary"
              [hidden]="teamEvent.attendees.includes(userName)"
              (click)="attend()">
        <fa-icon style="color:lightgreen" [icon]="faPlus"></fa-icon>
        Attend
      </button>
      <button class="btn btn-secondary"
              [hidden]="!teamEvent.attendees.includes(userName)"
              (click)="discard()">
        <fa-icon style="color:red" [icon]="faMinus"></fa-icon>
        Discard
      </button>
    </span>
    &nbsp;
    <ngb-rating></ngb-rating>
    <span [hidden]="isAuthenticated" class="badge badge-info">Login to attend</span>
  </div>
  <div class="col-12" [innerHTML]="teamEvent.description">
  </div>
  <div class="col-12">
    &nbsp;
  </div>
  <div class="col-12">
    <hr>
  </div>
  <div class="col-12">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmitComment(commentForm.value)">
      <div class="form-group">
        <textarea rows="2" formControlName="text" placeholder="Add a public comment...." class="form-control" id="comment"></textarea>
      </div>
      <div class="form-group text-right">
        <button class="btn btn-light"><fa-icon [icon]="faSmile"></fa-icon></button>
        &nbsp;
        <button class="btn btn-light"><fa-icon [icon]="faPaperclip"></fa-icon></button>
        &nbsp;
        <button class="btn btn-light" type="submit">Send</button>
      </div>
    </form>
  </div>
  <div class="col-12">
    <h6>{{ comments.length }} Comments</h6>
    <div class="row" *ngFor="let comment of comments">
      <div class="col-12">
        <b>{{ comment.user }} </b> {{ comment.date | date: 'short'}}
      </div>
      <div class="col-12">
        <p>{{ comment.text }}</p>
      </div>
      <div class="col-12">
        <p>
          <button class="btn btn-sm btn-light"><fa-icon style="color:gray" [icon]="faThumbsUp"></fa-icon></button>
          &nbsp;
          <button class="btn btn-sm btn-light"><fa-icon style="color:gray" [icon]="faThumbsDown"></fa-icon></button>
          &nbsp;
          <button class="btn btn-sm btn-light">REPLY</button>
        </p>
      </div>
      <div class="col-12">
        <p><button class="btn btn-sm btn-link" style="color:black"><b>View reply </b><fa-icon [icon]="faArrowDown"></fa-icon></button></p>
      </div>
    </div>
  </div>
</div>
