<h1 id="tableLabel">Events</h1>
<div class="row">
  <div class="col-9">
    <p *ngIf="!teamEvents"><em>Loading...</em></p>
    <ag-grid-angular style="width: 100%; height: 500px;"
                     class="ag-theme-balham"
                     [gridOptions]="gridOptions">
    </ag-grid-angular>
  </div>
  <div class="col-3">
    <h2>Register Event</h2>
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit(eventForm.value)">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name"
               class="form-control" aria-describedby="nameHelp"
               placeholder="Name"  required minlength="3">
        <small id="nameHelp" class="form-text text-muted">
          Enter event name
        </small>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input id="location" type="text" formControlName="location" class="form-control" aria-describedby="locationHelp" placeholder="Location">
        <small id="locationHelp" class="form-text text-muted">Enter event location</small>
      </div>
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <div class="input-group">
          <input class="form-control" formControlName="startDate" placeholder="yyyy-mm-dd" name="startDate" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
        <small id="startDateHelp" class="form-text text-muted">Enter event start date</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>


